.im1 {
    max-width: 100%; height: auto;
}
header {
    background: url('https://i.postimg.cc/hXZVFjPg/Opera-2024-04-02-164840-cebb6681-97c2-45e0-bca8-c7e70f077465-jfif.png') no-repeat center center fixed;
    background-size:auto;
}
.vid1 {
    max-width: 100%; height: 600px;
}
#Im {
    border-style: double;
    border-radius: 13px;
    padding-top: 5px;
}
#youtube {
    border-style: double;
    border-radius: 13px;
    padding-top: 5px;
}
#site {
    border-style: double;
    border-radius: 13px;
    padding-top: 5px;
}
#mods {
    border-style: double;
    border-radius: 13px;
    padding-top: 5px;
}
.MyCh {
    background-color: lawngreen;
    border-radius: 15px;
    border-style: dotted;
    border-color: green;
    transition: 0.5s;
    text-decoration: none;
    
}
.MyCh:hover {
    background-color: greenyellow;
    border-radius: 15px;
    border-style: dotted;
    border-color: lawngreen;
    transition: 0.5s;
    text-decoration: none;
}
